.container{
    display: flex;
    flex-direction: row;
    width: 1000px;
    height: 500px;
}

.sidebar{
    background-color: blue;
    flex: 3;
}

.content{
    background-color: red;
    flex: 7;
}